<% content_for :head do %>
 <meta http-equiv="refresh" content="30">
<% end %>

<%
   weight_last_stored = Weight.new
   weight_last_stored.keg_id = @weight_data_info.keg_id
   weight_last_stored.raw = @weight_data_info.last_stored_raw
   weight_last_stored.created_at = @weight_data_info.last_stored_created_at
   last_stored_pints = weight_last_stored.get_beer_count

   weight_last_recd = Weight.new
   weight_last_recd.keg_id = @weight_data_info.keg_id
   weight_last_recd.raw = @weight_data_info.last_received_raw
   weight_last_recd.created_at = @weight_data_info.last_received_created_at
   last_received_pints = weight_last_recd.get_beer_count

   start_weight = Weight.new
   start_weight.raw = @keg.start_raw
   start_weight.keg_id = @keg.id
   pints_full = start_weight.get_beer_count.to_s
%>
<h1><%= @keg.name %></h1>
<h3><%= @keg.abv %>% ABV</h3>
<h4><%= link_to("More Info", @keg.info_link) %></h4>
<br>

<h2><%= last_stored_pints.round(1) %> pints are left!</h2>

<div id="charts">

<script type="text/javascript">
    var total = <%= pints_full %>;
    var available = <%= last_stored_pints %>;

    window.onload = function(){
        var current = 0;
        var ctx;
        var HEIGHT = 264;
        var WIDTH = 180;
        ctx = $('#canvas')[0].getContext("2d");
        ctx.globalAlpha = 0.6;
        var length = ((HEIGHT/total)*available);
        ctx.clearRect(0,0,HEIGHT,WIDTH);
        var lingrad = ctx.createLinearGradient(0,0,0,HEIGHT);
        lingrad.addColorStop(0, '#C1963C');
        lingrad.addColorStop(1, '#B26033');
        ctx.fillStyle = lingrad;
        ctx.fillRect(4,(HEIGHT-length)+2, WIDTH,length);
    }
</script>
<div id="keg_display"><canvas id="canvas" width="189" height="268" style="background-image:url('<%= image_path('keg.png') %>');"></canvas>
</div>

<div id="weights_chart">
</div>

</div><!-- charts -->


<br>
<table>
  <thead>
    <th>Item</th>
    <th>Pints</th>
    <th>Date/Time</th>
  </thead>
  <tbody>
  <tr>
    <td>Last data point received: </td>
    <td><%= last_received_pints.round(1) %></td>
    <td><%= weight_last_recd.created_at.to_s(:beer) %></td>
  </tr>
  <tr>
    <td>Last data point stored: </td>
    <td><%= last_stored_pints.round(1) %></td>
    <td><%= weight_last_stored.created_at.to_s(:beer) %></td>
  </tr>
  <tr>
    <td>The time is now: </td>
    <td></td>
    <td><%= Time.now.in_time_zone.to_s(:beer) %></td>
  </tr>
  </tbody>
</table>

<script>
  // chart data is for highcharts. data now in pints
  var chart_data = [<%= @weights.map { |w| "["+w.created_at.to_i.to_s+"000,"+w.get_beer_count.to_s+"]" }.join(',') %>,[<%= Time.now.to_i.to_s %>000,<%= last_stored_pints %>]]
  var plot_line_data = [
      <% @events_by_keg.each() do |event| %>
      {
          value: <%= event.day.to_time.to_i.to_s + "000" %>,
          color: 'red', // Color value
          dashStyle: 'longdashdot', // Style of the plot line. Default to solid
          width: '2', // Width of the line
          label: {
              text: "<%= event.title.html_safe%>"
          }
      },
      <% end %>
  ];
</script>
