<% content_for :head do %>
 <meta http-equiv="refresh" content="30">
<% end %>

<%
   weight_last_stored = Weight.new
   weight_last_stored.keg_id = @weight_data_info.keg_id
   weight_last_stored.raw = @weight_data_info.last_stored_raw
   weight_last_stored.created_at = @weight_data_info.last_stored_created_at
   last_stored_pints = weight_last_stored.get_beer_count

   weight_last_recd = Weight.new
   weight_last_recd.keg_id = @weight_data_info.keg_id
   weight_last_recd.raw = @weight_data_info.last_received_raw
   weight_last_recd.created_at = @weight_data_info.last_received_created_at
   last_received_pints = weight_last_recd.get_beer_count
%>
<h1><%= @keg.name %></h1>
<h3><%= @keg.abv %>% ABV</h3>
<h4><%= link_to("More Info", @keg.info_link) %></h4>
<br>

<h2><%= last_stored_pints.round(1) %> pints are left!</h2>

<div id="weights_chart">
</div>

<br>
<table>
  <thead>
    <th>Item</th>
    <th>Pints</th>
    <th>Date/Time</th>
  </thead>
  <tbody>
  <tr>
    <td>Last data point received: </td>
    <td><%= last_received_pints.round(1) %></td>
    <td><%= weight_last_recd.created_at %></td>
  </tr>
  <tr>
    <td>Last data point stored: </td>
    <td><%= last_stored_pints.round(1) %></td>
    <td><%= weight_last_stored.created_at %></td>
  </tr>
  <tr>
    <td>The time is now: </td>
    <td></td>
    <td><%= Time.now %></td>
  </tr>
  </tbody>
</table>

<script>
  // chart data is for highcharts. data now in pints
  var chart_data = [<%= @weights.map { |w| "["+w.created_at.to_i.to_s+"000,"+w.get_beer_count.to_s+"]" }.join(',') %>,[<%= Time.now.to_i.to_s %>000,<%= last_stored_pints %>]]
</script>
