
<h1><%= @event.title %></h1>
<table>
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @event.description %></td>
    </tr>
    <tr>
      <th>Start</th>
      <td><%= @event.start %></td>
    </tr>
    <tr>
      <th>End</th>
      <td><%= @event.end %></td>
    </tr>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
