<h1>Listing weights</h1>

<div id="weights_chart">
</div>

<table>
  <thead>
    <tr>
      <th>Raw</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weights_last.each do |weight| %>
      <tr>
        <td><%= weight.raw %></td>
        <td><%= weight.created_at %></td>
        <td><%= link_to 'Show', weight %></td>
        <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
        <td><%= link_to 'Destroy', weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
var chart_data = [<%= @weights.map { |w| "["+w.created_at.to_s+","+w.raw.to_s+"]" }.join(',')%>]
</script>

<br>

<%= link_to 'New Weight', new_weight_path, class: "button" %>
