<%= form_for(@weight_data_info) do |f| %>
<div class="row">
  <% if @weight_data_info.errors.any? %>
    <div id="error_explanation small-8 columns">
      <h2><%= pluralize(@weight_data_info.errors.count, "error") %> prohibited this weight_data_info from being saved:</h2>

      <ul>
      <% @weight_data_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="field small-8">
    <div class="row">
      <div class="small-3 columns">
      <%= f.label :keg_id, class: "right inline" %>
      </div>
      <div class="small-9 columns">
      <%= f.text_field :keg_id %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :last_stored_raw, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :last_stored_raw %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :last_stored_created_at, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :last_stored_created_at %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :last_received_raw, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :last_received_raw %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :last_received_created_at, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :last_received_created_at %>
      </div>
    </div>
  </div>
  <div class="actions small-8">
    <%= f.submit class: "button" %>
  </div>
</div>

<% end %>
