<%
   start_weight = Weight.new
   start_weight.raw = @keg.start_raw
   start_weight.keg_id = @keg.id
   pints_full = start_weight.get_beer_count.to_s
   last_weight = @weights_by_keg.last
   pints_left = last_weight.get_beer_count.to_s()
%>

<script type="text/javascript">
    var total = <%= pints_full%>;
    var available = <%= pints_left%>;

    document.body.onload = function(){
        var current = 0;
        var ctx;
        var HEIGHT = 264;
        var WIDTH = 180;
        ctx = $('#canvas')[0].getContext("2d");
        ctx.globalAlpha = 0.6;
        var length = ((HEIGHT/total)*available);
        ctx.clearRect(0,0,HEIGHT,WIDTH);
        var lingrad = ctx.createLinearGradient(0,0,0,HEIGHT);
        lingrad.addColorStop(0, '#C1963C');
        lingrad.addColorStop(1, '#B26033');
        ctx.fillStyle = lingrad;
        ctx.fillRect(4,(HEIGHT-length)+2, WIDTH,length);
    }
</script>

<h1><%= @keg.name %></h1>

<div id="weights_chart">
</div>
<div id="keg_display"><canvas id="canvas" width="189" height="268" style="background-image:url('<%= image_path('keg.png') %>');"></canvas>
</div>
<br><br>
<table>
  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @keg.name %></td>
    </tr>
    <tr>
      <th>Gallons</th>
      <td><%= @keg.volume %></td>
    </tr>
    <tr>
      <th>ABV</th>
      <td><%= @keg.abv %>%</td>
    </tr>
    <tr>
      <th>Link</th>
      <td><%= link_to("More Info", @keg.info_link) %></td>
    </tr>
    <tr>
      <th>Started</th>
      <td><%= @keg.start_date %></td>
    </tr>
    <tr>
      <th>Finished</th>
      <td><%= @keg.end_date %></td>
    </tr>
    <tr>
      <th># Pints Full</th>
      <td><%= pints_full %></td>
    </tr>
    <tr>
      <th># Pints Left</th>
      <td><%= '%.1f' % pints_left %></td>
    </tr>
  </tbody>
</table>
<script>
  // chart data is for highcharts. data now in pints
  var chart_data = [<%= @weights_by_keg.map { |w| "["+w.created_at.to_i.to_s+"000,"+w.get_beer_count.to_s+"]" }.join(',') %>]
</script>

<br>
<%= link_to 'Edit', edit_keg_path(@keg) %> |
<%= link_to 'Back', kegs_path %>
